:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color: rgba(14, 11, 11, 0.747);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 1.2em 3em;
  font-size: 1.2em;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h2 {
  font-size: 2.2em;
  line-height: 1.2em;
}
.add-del {
  margin-left: 10px;
}
button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0 1.6em;
  margin-top: 0.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: rgb(19, 32, 39);
  background-color: #475e646b;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #3197d3;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.contact{
  font-size: 1.1em;
  font-weight: 600;
}
.notification-message {
  font-size: 1.5em;
  border-style: solid;
  border-radius: 5px;
  padding: 0.5em 1.5em;
  margin-bottom: 1.5em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
